/*
 * Colorscheme:
 *
 * Background: #212121
 * White 0:    #F5F5F5
 * White 1:    #EEEEEE
 * White 2:    #E0E0E0
 * Gray 0:     #BDBDBD
 * Gray 1:     #9E9E9E
 * Red 0:      #FF0000
 * Red 1:      #FF5436
 * Green 0:    #00BF00
 * Green 1:    #52D741
 * Yellow 0:   #FF8200
 * Yellow 1:   #FFE200
 * Blue 0:     #0064FF
 * Blue 1:     #00ACFF
 * Magenta 0:  #D250DA
 * Magenta 1:  #E088E4
 * Cyan 0:     #00B1AA
 * Cyan 1:     #00F5F2
 */

@font-face {
    font-family: 'hack';
    src: url('fonts/Hack-Regular.ttf');
}

@font-face {
    font-family: 'hack-bold';
    src: url('fonts/Hack-Bold.ttf');
}

@font-face {
    font-family: 'hack-italic';
    src: url('fonts/Hack-Italic.ttf');
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    font-size: medium;

    font-family: 'hack', monospace;
    background-color: #212121;
    color: #EEEEEE;

    height: 100%;
    clear: both;
}

header {
    background-color: #121212;
    padding: 1%;
}

h1 {
    margin-top: 0%;
    font-family: 'hack-bold', monospace;

    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 8%;
    max-width: 100%;
}


h2 {
    font-family: 'hack-bold', monospace;
}

header a:visited {
    color: #EEEEEE;
}

header a:link {
    color: #EEEEEE;
}

header a:hover {
    color: #FF0000;
}

a:link {
    color: #EEEEEE;
}
  
a:visited {
    color: #BDBDBD;
}
  
a:hover {
    color: #FF0000;
}

#top-bar {
    display: flex;
    justify-content: space-between;

    padding-left: 2%;
    padding-right: 2%;
}

#top-bar ul {
    top: 50%;
    transform: translateY(+28%);

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top-bar li {
    display: inline;
}

.center-flexbox {
    display: flex;
    justify-content: center;
}

.title-magenta-0 {
    text-align: center;
    color: #D250DA;
}

.title-green-1 {
    display: inline;
    color: #52D741;
}

.card {
    border: 2px solid #BDBDBD;
    border-radius: 5px;

    margin-left: 5%;
    margin-right: 5%;

    padding: 2%;
}

.normal-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 720px) {
    .normal-flexbox {
      flex-direction: column;
    }
    .img-in-card {
        min-width: 100%;
        min-height: 100%;
    }
}

.img-in-card {
    border-radius: 5px;

    align-self: center;

    max-width: 40%;
    max-height: 40%;

    flex: 1;
}

.art-in-card {
    flex: 40%;
    padding-right: 25px;
}

footer {
    background-color: #121212;
}

#menu {
    background-color: #121212;
    padding: 1%;
}

#end-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.social-icon {
    width: 40px;
    height: 40px;
}

ul.footer{padding: 0 !important;}

#site-menu, #social-menu {
    list-style-position: inside;
}

.article {
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
}