---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="CPPoliTO">
	<main>
		<h1><span class="text-gradient">CPPoliTO</span></h1>

		<p class="instructions dark-gray-background">
			<strong>Welcome to the official website of our student team, </strong><br /> 
			<span class="text-gradient bold">Competitive Programming Politecnico di Torino!</span>
			<br /> <br />

			We are a group of competitive programmers actively engaged in national and international coding competitions,
			proudly representing <a href="https://www.polito.it" class="white-link">PoliTO</a>.
			<br />
			Famous for our expertise in coding, algorithms, and complex data structures,
			we tackle challenges with our skills.
			<br />
			Beyond competitions, many of us excel as software engineers in top tech companies.
			With a knack for mathematics and a passion for problem-solving,
			we redefine what it means to be <span style="color: orange;">cool programmers</span>!
			<br /> <br />

			If you have any suggestions about website, please reach us on <a href="https://github.com/CPPoliTO/cppolito" class="white-link">GitHub</a>.
		</p>
		
		<div class="dark-background-style dark-gray-background">
			<p><span class="text-gradient bold">Why consider Competitive Programming?</span></p>
			<ul>
				<li>
					<span class="text-gradient bold">Professional growth: </span>
					It's like a superpower for acing job interviews at big tech companies.
					It's the best way to prepare for landing great Software Engineering jobs.
					Plus, all major tech companies use it in their technical interviews.
				</li>
				<li>
					<span class="text-gradient bold">Problem solving: </span>
					It's fun and helps you become better at solving problems and coding like a pro.
					Think of it as a cool programmers club where you learn and grow together.
				</li>
				<li>
					<span class="text-gradient bold">Team work: </span>
					We thrive in teams of three, combining diverse algorithms and mindsets
					to tackle challenges effectively, especially in competitions.
				</li>
				<li>
					<span class="text-gradient bold">Valuable networking: </span>
					You'll meet lots of cool people and companies at events
					like <a href="https://swerc.eu/2023" class="white-link">SWERC</a>
					who really want to hire people like you.
					They love how good you get at solving tough problems!
				</li>
				<li>
					<span class="text-gradient bold">Sponsored student trips: </span>
					Exciting opportunities await, including fully funded trips to amazing

					<a href="https://swerc.eu/2023" class="white-link">SWERC</a> locations.
					Recent venues have included Milan, Paris, and Porto,
					offering unforgettable experiences alongside invaluable learning opportunities.
				</li>
			</ul>
		</div>

		<div class="instructions dark-blue-background">
			<p>
				<span class="text-gradient bold">Introduction to CP meetings are back!</span>
				<span class="date-style">&nbsp;&nbsp;[March 2024]</span>
				<br />

				We are glad to announce that we’re repeating last year’s Introduction to Competitive Programming meetings,
				open to the whole Politecnico's community!
				<br />
			</p>
			<p>
				They will consist of one introductory meeting, in which we’ll explain what Competitive Programming is, 
				why it is so used for IT technical interviews, how to get started in this subject and 
				then we’ll start the actual lectures about Competitive Programming, such as:
			</p>
			<ul>
				<li>Problem solving fundamentals</li>
				<li>Basic and most used algorithms</li>
				<li>Overview of C++ for Competitive Programming</li>
			</ul>
			<p>
				The first meeting will be on: <span class="date-style cyan-color">Saturday 23rd at 11:15 AM</span>
				<br />
				Location: <span class="date-style cyan-color">Aula 15, Politecnico di Torino</span>
				<br /> <br />

				Follow us for more detials on 
				<a 
					href="https://t.me/cppolito" 
					class="white-link"
				>
				Telegram group
				</a>, 
				<a 
					href="https://instagram.com/cppolito_" 
					class="white-link"
				>
				Instagram
				</a>, and 
				<a 
					href="https://www.linkedin.com/company/cppolito/" 
					class="white-link"
				>
				LinkedIn
				</a>!
			</p>
		</div>

		<p class="instructions dark-blue-background">
			<span class="text-gradient bold">Celebrating Our Success at</span>
			<a
				href="https://www.linkedin.com/posts/cppolito_tomorrow-6-students-will-compete-in-the-prestigious-activity-7157003641843859456-PWd3"
				class="white-link orange-color bold"
			>
			SWERC 2024
			</a>: 
			<span class="date-style">&nbsp;&nbsp;[February 2024]</span>
			<br />

			We're thrilled to announce our stellar performance in this year's SWERC 2024 competition!
			<br /><br />
			Our team, <span class="bold cyan-color">OverkillaTO</span>, achieved an impressive 21st rank out of over 110 competing teams,
			making it our best result since the team's inception. As the 5th-ranked Italian university team,
			we're incredibly proud of our accomplishments.
			<br />
			Additionally, <span class="bold cyan-color">Checkmate Coders</span>, another one of our teams secured the 85th rank,
			further highlighting our collective prowess.
			<br /><br />

			Our amazing team members were:
			<br />
			<span class="bold cyan-color">OverkillaTO</span>:
			<br />
			1. <span class="cyan-color">Nima Naderi Ghotbodini</span>
			<br />
			2. <span class="cyan-color">Federico Fortunati</span>
			<br />
			3. <span class="cyan-color">Mattia Longo</span>
			<br /><br />
			<span class="bold cyan-color">Checkmate Coders</span>:
			<br />
			1. <span class="cyan-color">Antonio Spadaro</span>
			<br />
			2. <span class="cyan-color">Lorenzo Nikiforos</span>
			<br />
			3. <span class="cyan-color">Pasquale Bianco</span>
			<br /><br />

			In each competition, we aim higher, pushing the boundaries of coding excellence.
			Join us as we set new milestones in the world of programming!
			<br />

			Read more about our achievement:
			<br />
			<a 
				href="https://www.polito.it/ateneo/comunicazione-e-ufficio-stampa/poliflash/sfidarsi-nella-programmazione-informatica-i-successi-del" 
				class="white-link"
			>
			University's offical post
			</a>, 
			<a 
				href="https://www.linkedin.com/posts/politecnico-di-torino_polito-awards-poliflash-activity-7168236949000839169-q9L3" 
				class="white-link"
			>
			University's LinkedIn post
			</a>, 
			<a 
				href="https://www.linkedin.com/feed/update/urn:li:activity:7158514095971803137" 
				class="white-link"
			>
			Our LinkedIn post
			</a>
		</p>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="https://codeforces.com/group/w6aXjpwI9u/blog/entry/13481"
				title="SWERC 2024/25 Selection!"
				body="This year's ICPC/SWERC selection rules are out!!"
			/>
			<Card
				href="https://linktr.ee/cppolito"
				title="Linktree"
				body="Follow us on social media and join our groups to stay updated on our activities!"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		color: green;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.bold {
		font-weight: bold;
	}
	.date-style {
		font-style: italic;
		font-weight: normal;
		color: rgb(var(--accent));
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.white-background {
		background-color: white;
		color: black;
	}
	.dark-gray-background {
		background-color: #1e1e1e;
		color: #fff;
	}
	.dark-blue-background {
		background-color: #000066;
		color: #fff;
	}
	.cyan-color {
		color: cyan !important;
	}
	.orange-color {
		color: orange !important;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	ul, .dark-background-style {
		list-style-type: none;
		margin-top: 1rem;
		padding-left: 2rem;
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	ul li {
		position: relative;
		padding-left: 1.5rem;
   		padding-bottom: 0.5rem;
	}
	ul li:before {
		content: "\2605";
		position: absolute;
		left: 0;
		color: rgb(var(--accent));
	}
	a.white-link {
		color: #b3ffd9;
		text-decoration: none; /* Removes the underline */
	}
	a.white-link:hover {
		text-decoration: underline; /* Adds underline on hover */
	}
</style>
